@mixin header
    font-size: 5rem
    text-transform: uppercase

@mixin header_hr
    content: ""
    display: block
    width: 80%
    height: 2px
    background-color: var(--third_color)
    margin-top: 5x